body {
    background-color: #ebe7df ;
    line-height: 40px;
    padding-top: 6em;
    height: 100%;
}

.navbar .nav {
    margin-top: 10px;
    font-weight:bold;
}

.footer{
    width:100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.footer .container {
    text-align: center;
}

.footer .container {
    line-height: 30px;
}

.fixed_footer {
    position:absolute;
    bottom:0;
}
